.trackingItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border-color: var(--secondary-bg-color);
  border-width: 5px;
  border-style: solid;
}

.trackingItem button {
  width: 100%;
  background-color: var(--secondary-bg-color);
  border-radius: 0;
  transition: 0.5s;
  text-align: center;
}

.trackingItem span {
  margin: 1%;
}

.trackingItem button:hover {
  background-color: var(--primary-bg-color);
  transition: 0.5s;
}

.tracking_container {
  width: 30%;
  margin-left: 50px;
  margin-right: 50px;
}

.tracking_container_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 830px;
  overflow-y: auto;
}
