.map_container h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.map {
  left: 0;
  top: 0;
  height: 480px;
  width: 98%;
}

@media (max-width: 640px) {
  .map {
    height: 240px;
    width: 320px;
  }
}

.modal_container {
  width: 300px;
  height: 100px;
}
